<div class="w-100">
  <h1 class="fs-5">Relatório</h1>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Faixa Salarial</th>
        <th scope="col">Quantidade de Proponentes</th>
      </tr>
    </thead>
    <tbody id="dashboard">
      <% @proponents_by_salary_range.each do |salary_range, count| %>
        <tr>
          <td><%= salary_range %></td>
          <td><%= count %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <canvas
  data-controller="chartjs"
  data-chartjs-type-value=<%= @chart_type %>
  data-chartjs-data-value="<%= @chart_data.to_json %>"
  data-chartjs-options-value="<%= @chart_options.to_json %>">
  </canvas>
</div>
