<div class="align-self-center w-100" style="max-width: 400px;">
  <h2 class="my-4">Cadastre-se</h2>

  <% if resource.errors.any? %>
    <div id="error_explanation">
      <% resource.errors.full_messages.each do |message| %>
        <div class="alert alert-danger" role="alert">
          <%= message %>
        </div>
      <% end %>
    </div>
  <% end %>

  <% if notice.present? %>
    <div class="alert alert-danger" role="alert">
      <%= notice %>
    </div>
  <% end %>

  <% if alert.present? %>
    <div class="alert alert-danger" role="alert">
      <%= alert %>
    </div>
  <% end %>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <div class="col-md-4 mb-3 w-100">
      <%= f.label :email, class: "form-label" %>
      <%= f.text_field :email, autofocus: true, autocomplete: "email", class: "form-control", required: true %>
    </div>

    <div class="col-md-4 mb-3 w-100">
      <%= f.label 'Senha', class: "form-label" %>
      <% if @minimum_password_length %>
      <em>(no mínimo <%= @minimum_password_length %> caractéres)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
    </div>

    <div class="field">
      <%= f.label 'Confirme sua senha', class: "form-label" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
    </div>

    <div class="my-4">
      <%= f.submit "Se cadastrar", class: 'btn btn-primary' %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
