<tr id="<%= "#{dom_id(proponent)}_container" %>">
  <%= turbo_frame_tag dom_id(proponent) do %>
    <th scope="row"><%= proponent.id %></th>
    <td><%= proponent.name %></td>
    <td><%= proponent.cpf %></td>
    <td><%= proponent_address(proponent) %></td>
    <td><%= number_to_currency(proponent.salary) %></td>
    <td><%= number_to_currency(proponent.salary) %></td>
    <td><%= number_to_currency(proponent.salary) %></td>
    <td>
      <%= button_to proponent_path(proponent), class: "btn btn-danger btn-sm", method: :delete do %>
        <span class="sr-only">Delete</span>
      <% end %>
    </td>
  <% end %>
</tr>
