<tr id="<%= "#{dom_id(proponent)}_container" %>">
  <%= turbo_frame_tag dom_id(proponent) do %>
    <th scope="row"><%= proponent.id %></th>
    <td><%= proponent.name %></td>
    <td><%= proponent.cpf %></td>
    <td><%= proponent_address(proponent) %></td>
    <td><%= number_to_currency(proponent.gross_salary) %></td>
    <td><%= number_to_currency(proponent.inss_discount) %></td>
    <td><%= number_to_currency(proponent.net_salary) %></td>
    <td>
      <div class="d-flex gap-2">
        <%= button_to proponent_path(proponent), data: {turbo_method: :delete, turbo_confirm: 'Tem certeza que deseja excluir este proponente?'}, class: "btn btn-danger btn-sm", method: :delete do %>
          <span class="sr-only">Excluir</span>
        <% end %>

        <%= link_to edit_proponent_path(proponent), class: "btn btn-primary btn-sm" do %>
          <span class="sr-only">Editar</span>
        <% end %>
      </div>
    </td>
  <% end %>
</tr>
