<div class="w-100 flex-fill d-flex flex-column">
  <h1 class="fs-5">Proponentes</h1>

  <div class="d-flex gap-2 my-4">
    <a href="<%= "#{new_proponent_path}"%>" class="btn btn-primary">Adicionar proponente</a>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th scope="col" class="link-without-color"><%= link_to "#", sort: "id"%></th>
        <th scope="col" class="link-without-color"><%= link_to "Nome", sort: "name"%></th>
        <th scope="col">CPF</th>
        <th scope="col">Endereço</th>
        <th scope="col" class="link-without-color"><%= link_to "Salário bruto", sort: "gross_salary" %></th>
        <th scope="col" class="link-without-color"><%= link_to "Desconto INSS", sort: "inss_discount"%></th>
        <th scope="col" class="link-without-color"><%= link_to "Salário líquido", sort: "net_salary"%></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody id="proponents">
      <%= render @proponents %>
    </tbody>
  </table>

  <div class="flex-fill"></div>

  <%= paginate @proponents %>
</div>
